.navbar {
color: white;
background-color: black;
height: 60px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
border-radius: 30px;
}

.navbar a {
color: white;
text-decoration: none;      
}