.navbar {
color: white;
background-color: blue;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
}

.navbar a {
color: white;
text-decoration: none;      
}